# fly.toml app configuration file generated for meds on 2025-12-27T21:53:23+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'meds'
primary_region = 'ams'

[build]

[env]
  NODE_ENV = 'production'

[[mounts]]
  source = 'meds_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
